<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyzdfintech.mdcp.mapper.AppDeveloperMapper" >
  <resultMap id="BaseResultMap" type="com.lyzdfintech.mdcp.model.AppDeveloper" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_key, name, login_password, permission, gmt_create, gmt_modified
  </sql>
  <select id="selectByAppKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from app_developer
    where app_key = #{appKey}
  </select>
  <delete id="deleteById" >
    delete from app_developer
    where  id = #{id} and app_key = #{appKey}
  </delete>
  <insert id="insert" parameterType="com.lyzdfintech.mdcp.model.AppDeveloper" >
    insert into app_developer (app_key, name, login_password, permission, gmt_create, gmt_modified)
    values (#{appKey}, #{name}, #{loginPassword}, #{permission}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  <update id="updateById" parameterType="com.lyzdfintech.mdcp.model.AppDeveloper" >
    update app_developer
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword},
      </if>
      <if test="permission != null">
        permission = #{permission},
      </if>
    </set>
    where id = #{id} and app_key = #{appKey}
  </update>
</mapper>