<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyzdfintech.mdcp.mapper.ApplicationMapper" >

  <resultMap id="BaseResultMap" type="com.lyzdfintech.mdcp.model.Application" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, app_key, app_name, gmt_create, gmt_modified
  </sql>

  <select id="selectByAppKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from application
    where app_key = #{appKey}
  </select>

  <insert id="insert" parameterType="com.lyzdfintech.mdcp.model.Application" >
    insert into application (app_key, app_name, gmt_create, gmt_modified)
    values (#{appKey}, #{appName}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>

</mapper>