<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyzdfintech.mdcp.mapper.AppRequirementMapper" >
  <resultMap id="BaseResultMap" type="com.lyzdfintech.mdcp.model.AppRequirement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="milestone" property="milestone" jdbcType="DATE" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="client" property="client" jdbcType="VARCHAR" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
    <result column="service" property="service" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="descriptor" property="descriptor" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_key, name, milestone, owner, client, resource, service, state, descriptor, gmt_create, gmt_modified
  </sql>
  <select id="selectByAppKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from app_requirement
    where app_key = #{appKey}
  </select>
  <delete id="deleteById" >
    delete from app_requirement
    where id = #{id} and app_key = #{appKey}
  </delete>
  <insert id="insert" parameterType="com.lyzdfintech.mdcp.model.AppRequirement" >
    insert into app_requirement (app_key, name, milestone, owner, gmt_create, gmt_modified)
    values (#{appKey}, #{name}, #{milestone}, #{owner}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  <update id="updateById" parameterType="com.lyzdfintech.mdcp.model.AppRequirement" >
    update app_requirement
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="milestone != null">
        milestone = #{milestone},
      </if>
      <if test="owner != null">
        owner = #{owner},
      </if>
      <if test="client != null">
        client = #{client},
      </if>
      <if test="resource != null">
        resource = #{resource},
      </if>
      <if test="service != null">
        service = #{service},
      </if>
      <if test="state != null">
        state = #{state},
      </if>
      <if test="descriptor != null">
        descriptor = #{descriptor},
      </if>
    </set>
    where id = #{id} and app_key = #{appKey}
  </update>
</mapper>