<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyzdfintech.mdcp.mapper.AppServiceMapper" >
  <resultMap id="BaseResultMap" type="com.lyzdfintech.mdcp.model.AppService" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="VARCHAR" />
    <result column="service_desc" property="serviceDesc" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_key, service_id, service_desc, gmt_create, gmt_modified
  </sql>
  <select id="selectByAppKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from app_service
    where app_key = #{appKey}
  </select>
  <delete id="deleteById" >
    delete from app_service
    where id = #{id} and app_key = #{appKey}
  </delete>
  <insert id="insert" parameterType="com.lyzdfintech.mdcp.model.AppResource" >
    insert into app_service (app_key, service_id, service_desc, gmt_create, gmt_modified)
    values (#{appKey}, #{serviceId}, #{serviceDesc}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  <update id="updateById" parameterType="com.lyzdfintech.mdcp.model.AppService" >
    update app_service
    <set>
      <if test="serviceId != null">
        service_id = #{serviceId},
      </if>
      <if test="serviceDesc != null">
        service_desc = #{serviceDesc},
      </if>
    </set>
    where id = #{id} and app_key = #{appKey}
  </update>
</mapper>